aside {
    .contacts { 
        width: auto;
        height: auto;

        position: fixed;
        left: 2rem;
        bottom: 0;
        z-index: 1;

        .contact__list {
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        
            &::after {
                content: '';
                width: 0.1rem;
                height: 5rem;

                display: block;

                background: var(--primaryColorTools);
            }
        }
    }

    .widgets {
        width: auto;
        height: auto;

        padding: 0.5rem 1rem;

        position: fixed;
        top: 0;
        right: 3rem;
        z-index: 1;

        ul {
            position: relative;

            display: flex;
            gap: 1.5rem;

            li:first-child a svg { stroke: var(--secondaryColorTools); }
            li:last-child a {
                display: flex;
                svg { 
                    fill: var(--primaryColorTools); 
                    transition: transform 0.215s ease-out, scale 0.2s;
                    &:not(.selected) { transform: scale(0); } 
                }
                svg:last-child { position: absolute; }
            } 

            &::before { 
                content: '';
                width: 1.2rem;
                height: 1.4rem;

                position: absolute;
                top: -0.5rem;
                left: -2rem;

                border-bottom: 0.1rem solid var(--primaryColorTools);
                border-left: 0.1rem solid var(--primaryColorTools);
            }

            &::after { 
                content: '';
                width: 4rem;
                height: 0.05rem;

                position: absolute;
                top: 50%;
                right: 0;

                background: var(--primaryColorTools);

                transform: translateX(5rem);
            }
        }
    }
}

@media (width < 1100px) {
    aside { display: none; }
}