.certificates {
    height: auto;

    margin-top: 3.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .certificates__wrap {
        height: auto;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 0.93rem;

        .certificate {
            width: 320px;
            height: auto;

            position: relative;

            /* background: #283247; */
            background: var(--colorBgSkills);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 1.2rem;

            transition: border-color 0.45s ease;

            &:hover {
                &::before {
                    content: '';
                    width: 4px;
                    height: 4px;

                    position: absolute;
                    bottom: 0;
                    left: -1px;

                    border-radius: 50%;

                    animation: bord 5s linear infinite;
                }

                svg { opacity: 1; transform: translateY(-5px); }
            }

            a {
                padding: 2rem 1.35rem;

                position: relative;

                display: flex;
                flex-direction: column;
                gap: 1rem;

                border-radius: inherit;

                color: #f8f8f8;
                text-decoration: none;

                overflow: hidden;

                h3 { font-size: var(--listFont); z-index: 1; }

                .certificate__footer {
                    z-index: 1;
                    
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    time { font-weight: 600; color: #c2c6da }

                    span {
                        position:relative;

                        &::before {
                            content: '';
                            width: 2%;
                            height: 2%;

                            position: absolute;
                            top: 48%;
                            left: 48%;
                            z-index: -1;
                            
                            transition: box-shadow 0.5s 0.4s ease;

                            transform: translateY(-5px);
                        }
                    }
                }

                svg { 
                    height: 1.3rem; 
                    fill: #dadada; 
                    opacity: 0; 
                    transform: translateY(10px);
                    transition: opacity 0.15s 0.4s ease-out, transform 0.15s 0.4s ease-out;
                }
            }

            &:first-child {
                span::before { box-shadow: 0 0 #daa5206f; }
                &:hover { 
                    border-color: #e0a91baa;
                    span::before { box-shadow: 0 0 40px 20px #daa5206f; }
                }
                &::before {
                    background: var(--primaryColorTools);
                    box-shadow: 0 0 10px 3px #e0a91baa, 0 0 25px 6px #e0a91b88, 0 0 40px 10px #e0a91b33;
                }
            }

            &:nth-child(2) { 
                span::before { box-shadow: 0 0 #0065b86f; }
                &:hover { 
                    border-color: #0174d1aa;
                    span::before { box-shadow: 0 0 40px 20px #0065b86f; }
                }
                &::before {
                    background: #0065b8;
                    box-shadow: 0 0 10px 3px #0174d1aa, 0 0 25px 6px #0174d188, 0 0 40px 10px #0174d133;
                }
            }

            &:nth-child(3) {
                span::before { box-shadow: 0 0 #EF5B256F; }
                &:hover { 
                    border-color: #f85b21aa;
                    span::before { box-shadow: 0 0 40px 20px #EF5B256F; }
                }
                &::before {
                    background: #EF5B25;
                    box-shadow: 0 0 10px 3px #f85b21aa, 0 0 25px 6px #f85b2188, 0 0 40px 10px #f85b2133;
                }
            }

            &:nth-child(4) {
                span::before { box-shadow: 0 0 #27b14a6f; }
                &:hover { 
                    border-color: #26c74eaa;
                    span::before { box-shadow: 0 0 40px 20px #27b14a6f; }
                }
                &::before { 
                    background: #27b14a;
                    box-shadow: 0 0 10px 3px #26c74eaa, 0 0 25px 6px #26c74e88, 0 0 40px 10px #26c74e33;
                }
            }
        }
    }
}

@keyframes bord {
    0% {
        bottom: calc(100% - .6em);
        left: calc(0% - 2px);
    }
    24% {
        bottom: .6em;
        left: calc(0% - 2px);
    }
    25% {
        bottom: .2em;
        left: .2em;
    }
    26% {
        bottom: calc(0% - 2px);
        left: .6em;
    }
    49% {
        bottom: calc(0% - 2px);
        left: calc(100% - .6rem);
    }
    50% {
        bottom: .2em;
        right: .2em;
    }
    51% {
        bottom: .6em;
        left: calc(100% - 2px);
    }
    74% {
        bottom: calc(100% - .6em);
        left: calc(100% - 2px);
    }
    75% {
        bottom: calc(100% - .2em);
        righ: .2em;
    }
    76% {
        bottom: calc(100% - 2px);
        left: calc(100% - .6em);
    }
    98% {
        bottom: calc(100% - 2px);
        left: .6em;
    }
    99% {
        bottom: calc(100% - .2rem);
        left: .2rem;
    }
    100% {
        bottom: calc(100% - .6em);
        left: 2px;
    }
}

@media (width < 690px) {
    .certificates .certificates__wrap .certificate {
        max-width: 420px;
        width: auto;
    }
}