@keyframes upperCode-1 {
    0% { top: 4%; opacity: 0.3; } 

    12.5% { top: -2%; opacity: 0; } 

    25% { top: 44%; opacity: 0; } 

    37.5% { top: 39%; opacity: 0.4; } 

    50% { top: 33%; opacity: 0.6; }

    62.5% { top: 27%; opacity: 0.8; }

    75% { top: 16%; opacity: 0.8; }

    87.5% { top: 10%; opacity: 1; }
    
    100% { top: 4%; }
}

@keyframes upperCode-2 {
    0% { top: 10%; opacity: 1; } 

    12.5% { top: 4%; opacity: 0.3; } 

    25% { top: -2%; opacity: 0; } 

    37.5% { top: 44%; opacity: 0; } 

    50% { top: 39%; opacity: 0.4; }

    62.5% { top: 33%; opacity: 0.6; }

    75% { top: 27%; opacity: 0.8; }

    87.5% { top: 16%; opacity: 0.8; }
    
    100% { top: 10%; opacity: 1; }
}

@keyframes upperCode-3 {
    0% { top: 16%; opacity: 0.8; } 

    12.5% { top: 10%; opacity: 1; } 

    25% { top: 4%; opacity: 0.3; } 

    37.5% { top: -2%; opacity: 0; } 

    50% { top: 44%; opacity: 0; }

    62.5% { top: 39%; opacity: 0.4; }

    75% { top: 33%; opacity: 0.6; }

    87.5% { top: 27%; opacity: 0.8; }
    
    100% { top: 16%; opacity: 0.8; }
}

@keyframes upperCode-4 {
    0% { top: 27%; opacity: 0.8; } 

    12.5% { top: 16%; opacity: 0.8; } 

    25% { top: 10%; opacity: 1; } 

    37.5% { top: 4%; opacity: 0.3; } 

    50% { top: -2%; opacity: 0; }

    62.5% { top: 44%; opacity: 0; }

    75% { top: 39%; opacity: 0.4; }

    87.5% { top: 33%; opacity: 0.6; }
    
    100% { top: 27%; opacity: 0.8; }
}

@keyframes upperCode-5 {
    0% { top: 33%; opacity: 0.6; } 

    12.5% { top: 27%; opacity: 0.8; } 

    25% { top: 16%; opacity: 0.8; } 

    37.5% { top: 10%; opacity: 1; } 

    50% { top: 4%; opacity: 0.3; }

    62.5% { top: -2%; opacity: 0; }

    75% { top: 44%; opacity: 0; }

    87.5% { top: 39%; opacity: 0.4; }
    
    100% { top: 33%; opacity: 0.6; }
}

@keyframes upperCode-6 {
    0% { top: 39%; opacity: 0.4; } 

    12.5% { top: 33%; opacity: 0.6; } 

    25% { top: 27%; opacity: 0.8; } 

    37.5% { top: 16%; opacity: 0.8; } 

    50% { top: 10%; opacity: 1; }

    62.5% { top: 4%; opacity: 0.3; }

    75% { top: -2%; opacity: 0; }

    87.5% { top: 44%; opacity: 0; }
    
    100% { top: 39%; opacity: 0.4; }
}