header .desktop {
    width: auto;
    height: auto;

    position: fixed;
    top: 50%;
    right: 3rem;
    z-index: 3;

    transform: translateY(-50%);

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        font-weight: 500;
        font-size: var(--listFont);

        text-align: right;
        list-style: none;

        li {
            position: relative;

            opacity: 0.5;

            transition: transform 0.5s ease, opacity 0.5s ease;

            a { color: var(--primaryColorTools); text-decoration: none; }

            &.active { opacity: 1; transform: translateX(-6.25rem); }

            &::after {
                content: '';
                width: 13rem;
                height: 0.15rem;

                position: absolute;
                top: 50%;
                right: 0;

                background: var(--primaryColorTools);

                transform: translate(14rem, -50%);
            }
        }
    }
}

header .mobile { display: none; }

@media (width < 1100px) {
    header { 
        max-width: 990px;

        margin: 0.65rem auto 0;

        position: fixed;
        z-index: 3;

        align-self: center;

        display: flex;
        align-items: center;
        justify-content: center;

        .desktop { display: none; }

        .mobile {
            padding: 0 0.75rem;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #f0f0f000;
            backdrop-filter: blur(8px);
            border-radius: 100rem;

            font-size: 0.925rem;
            font-weight: 500;
            line-height: 1.25rem;

            animation: nav 1s linear both;
            animation-timeline: scroll();
            animation-range: 0 100px;

            > a {
                padding: 0.5rem;

                position: relative;

                display: block;

                color: var(--navColorMobile);
                font-family: system-ui;

                text-decoration: inherit;

                transition: color 0.3s ease-out;

                &.active { color: var(--primaryColorTools); }

                &:last-child {
                    svg { transition: scale 0.2s; }
                    &:active svg { scale: 0.775; }
                }
            }
        }
    }
}

@keyframes scale-up-center {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes nav {
    100% { 
        background: var(--navColorBgMobile); 
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    }
}