.frontend {
    ul li:first-child { 
        &::after { box-shadow: 0 0 35px 12px #EF652A; }
        &:hover::before { border-color: #EF652A; }
        &:hover::after { box-shadow: 0 0 35px 20px #EF652A; }
        .tooltip {
            color: #EF652A;
            border: 1px solid #EF652A;
        }
    }
    ul li:nth-child(2) { 
        &::after { box-shadow: 0 0 35px 12px #30A9DC; }
        &:hover::before { border-color: #30A9DC; }
        &:hover::after { box-shadow: 0 0 35px 20px #30A9DC; }
        .tooltip {
            color: #30A9DC;
            border: 1px solid #30A9DC;
        }
    }
    ul li:nth-child(3) {
        &::after { box-shadow: 0 0 35px 12px #F0DB4F; }
        &:hover::before { border-color: #F0DB4F; }
        &:hover::after { box-shadow: 0 0 35px 20px #F0DB4F; }
        .tooltip {
            color: #F0DB4F;
            border: 1px solid #F0DB4F;
        }
    }
    ul li:nth-child(4) {
        &::after { box-shadow: 0 0 35px 12px #8003EE; }
        &:hover::before { border-color: #A033FE; }
        &:hover::after { box-shadow: 0 0 35px 20px #8003EE; }
        .tooltip {
            color: #A033FE;
            border: 1px solid #A033FE;
        }
    }
    ul li:nth-child(5) {
        &::after { box-shadow: 0 0 35px 12px #B05080; }
        &:hover::before { border-color: #C06090; }
        &:hover::after { box-shadow: 0 0 35px 20px #B05080; }
        .tooltip {
            color: #C06090;
            border: 1px solid #C06090;
        }
    }
    ul li:nth-child(6) {
        &::after { box-shadow: 0 0 35px 12px #3178C6; }
        &:hover::before { border-color: #347BC9; }
        &:hover::after { box-shadow: 0 0 35px 20px #3178C6; }
        .tooltip {
            color: #347BC9;
            border: 1px solid #347BC9;
        }
    }
    ul li:nth-child(7) {
        &::after { box-shadow: 0 0 35px 12px #A6120D; }
        &:hover::before { border-color: #DD1B16; }
        &:hover::after { box-shadow: 0 0 35px 20px #A6120D; }
        .tooltip {
            color: #DD1B16;
            border: 1px solid #DD1B16;
        }
    }
    ul li:nth-child(8) {
        &::after { box-shadow: 0 0 35px 12px #45596E; }
        &:hover::before { border-color: #42B883; }
        &:hover::after { box-shadow: 0 0 35px 20px #45596E; }
        .tooltip {
            color: #42B883;
            border: 1px solid #42B883;
        }
    }
}

.backend {
    ul li:first-child {
        &::after { box-shadow: 0 0 35px 12px #326eaa; }
        &:hover::before { border-color: #4E87D0; }
        &:hover::after { box-shadow: 0 0 35px 20px #326eaa; }
        .tooltip {
            color: #4E87D0;
            border: 1px solid #4E87D0;
        }
    }
    ul li:nth-child(2) {
        &::after { box-shadow: 0 0 35px 12px #307C20; }
        &:hover::before { border-color: #539E43; }
        &:hover::after { box-shadow: 0 0 35px 20px #307C20; }
        .tooltip {
            color: #539E43;
            border: 1px solid #539E43;
        }
    }
    ul li:nth-child(3) {
        &::after { box-shadow: 0 0 35px 12px #C7C7C7; }
        &:hover::before { border-color: #FFFFFF; }
        &:hover::after { box-shadow: 0 0 35px 20px #C7C7C7; }
        .tooltip {
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }
    }
    ul li:nth-child(4) {
        &::after { box-shadow: 0 0 35px 12px  #daa520; }
        &:hover::before { border-color: #daa520; }
        &:hover::after { box-shadow: 0 0 35px 20px #daa520; }
        .tooltip {
            color: #daa520;
            border: 1px solid #daa520;
        }
    }
    ul li:nth-child(5) {
        &::after { box-shadow: 0 0 35px 12px #EAEAEA; }
        &:hover::before { border-color: #FFFFFF; }
        &:hover::after { box-shadow: 0 0 35px 20px #EAEAEA; }
        .tooltip {
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }
    }
    ul li:nth-child(6) {
        &::after { box-shadow: 0 0 35px 12px #00758F; }
        &:hover::before { border-color: #00758F; }
        &:hover::after { box-shadow: 0 0 35px 20px #00758F; }
        .tooltip {
            color: #00758F;
            border: 1px solid #00758F;
        }
    }
    ul li:nth-child(7) {
        &::after { box-shadow: 0 0 35px 12px #336791; }
        &:hover::before { border-color: #336791; }
        &:hover::after { box-shadow: 0 0 35px 20px #336791; }
        .tooltip {
            color: #336791;
            border: 1px solid #336791;
        }
    }
}

.tools {
    ul li:first-child {
        &::after { box-shadow: 0 0 35px 12px #DE4C36B0; }
        &:hover::before { border-color: #DE4C36; }
        &:hover::after { box-shadow: 0 0 35px 20px #DE4C36B0; }
        .tooltip {
            color: #DE4C36;
            border: 1px solid #DE4C36;
        }
    }
    ul li:nth-child(2) {
        &::after { box-shadow: 0 0 35px 12px #FAFBFCE0; }
        &:hover::before { border-color: #FAFBFC; }
        &:hover::after { box-shadow: 0 0 35px 20px #FAFBFCE0; }
        .tooltip {
            color: #FAFBFC;
            border: 1px solid #FAFBFC;
        }
    }
    ul li:nth-child(3) {
        &::after { box-shadow: 0 0 35px 12px #CC3534C0; }
        &:hover::before { border-color: #CC3534; }
        &:hover::after { box-shadow: 0 0 35px 20px #CC3534C0; }
        .tooltip {
            color: #CC3534;
            border: 1px solid #CC3534;
        }
    }
    ul li:nth-child(4) {
        &::after { box-shadow: 0 0 35px 12px #2d7cb1; }
        &:hover::before { border-color: #3592cf; }
        &:hover::after { box-shadow: 0 0 35px 20px #2d7cb1; }
        .tooltip {
            color: #3592cf;
            border: 1px solid #3592cf;
        }
    }
    ul li:nth-child(5) {
        &::after { box-shadow: 0 0 35px 12px #BABABA; }
        &:hover::before { border-color: #FFFFFF; }
        &:hover::after { box-shadow: 0 0 35px 20px #BABABA; }
        .tooltip {
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }
    }
    ul li:nth-child(6) {
        &::after { box-shadow: 0 0 35px 12px #950101; }
        &:hover::before { border-color: #C51111; }
        &:hover::after { box-shadow: 0 0 35px 20px #950101; }
        .tooltip {
            color: #C51111;
            border: 1px solid #C51111;
        }
    }
    ul li:nth-child(7) {
        &::after { box-shadow: 0 0 35px 12px #EF5B25; }
        &:hover::before { border-color: #EF5B25; }
        &:hover::after { box-shadow: 0 0 35px 20px #EF5B25; }
        .tooltip {
            color: #EF5B25;
            border: 1px solid #EF5B25;
        }
    }
    ul li:nth-child(8) {
        &::after { box-shadow: 0 0 35px 12px #74AA9C; }
        &:hover::before { border-color: #74AA9C; }
        &:hover::after { box-shadow: 0 0 35px 20px #74AA9C; }
        .tooltip {
            color: #74AA9C;
            border: 1px solid #74AA9C;
        }
    }
}